/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */

.section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
}
.common-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;
}
.primary-btn{
    padding: 20px 40px;
    border: 0;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}


/* header styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo{
    display: flex;
    align-items: center;
}
.logo-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 5px;
}
.logo .logo-title span{
    color: #FF42A5;
}
.logo img{
    height: 100%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
.follow-us{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.link-color{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
/* banner styles */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 240px;
    gap: 60px;
}
.banner-content{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 30px 0;
    width: 90%;
}
.banner-title{
    font-size: 5rem;
    font-weight: 800;
    margin-top: -40px;
    margin-bottom: 0;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-button{
    margin-top: 40px;
}
.banner-button .btn{
        padding: 20px 40px;
        border: 0;
        border-radius: 48px;
    background: #4EC5F7;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
}
.banner-img img{
    width: 100%;
    padding-left: ;
    /* height: 100%; */
}