/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */

.section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
}
.common-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;
}
.section-description{
    color: #534C64;
    font-size: 1.2rem;
}
.primary-btn{
    padding: 15px 30px;
    border: 0;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
}

/* header styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    align-items: center;
}
.logo-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 5px;
}
.logo .logo-title span{
    color: #FF42A5;
}
.logo img{
    height: 100%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
.follow-us{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: 0;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.link-color{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
/* banner styles */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 60px; */
}
.banner-content{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 50px 300px 50px 240px;
}
.banner-title{
    font-size: 5rem;
    font-weight: 800;
    margin-top: -40px;
    margin-bottom: 0;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-button{
    margin-top: 40px;
    display: flex;
}
.banner-button .btn{
    padding: 15px 30px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
}
.banner-img{
    padding-right: 240px;
}
.banner-img img{
    width: 100%;
} 

/* main section styles */
main{
    max-width: 1280px;
    margin: 50px auto;
}
/* online styles */
.online-title{
    text-align: center;
    margin-bottom: 0;
}
.online-description{
    text-align: center;
    /* margin-top: 10px; */
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-card{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.online-games-card .card{
    width: 300px;
} 
.card img{
    width: 100%;
}
.card-title{
    padding-right: 5px;
}

/* play section styles */
.play-instantly{
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.play-instantly-content{
    padding-right: 150px;
    padding-left: 50px;
    text-align: right;
}
.play-title{
    margin-bottom: 24px;
}
.play-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-bottom-img{
    position: relative;
    margin-top: -300px;
    margin-left: -100px;
}
/* more games styles */
.more-games-container{
    margin: 120px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.more-games-info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.more-games-info img{
    width: 40px;
    height: 40px;
}
.more-games-info:hover{
    border-radius: 50px;
    border: 1.5px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 15px;
}
.more-games-title{
    color: #0B0223;
    font-size: 0.8rem;
    font-weight: 600;
}
/* footer styles */
footer{
    text-align: center;
    background: #0B0223;
    padding: 120px 0;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    height: 100%;
}
.footer-logo-title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 5px;
}
.footer-logo-title span{
    color: #FF42A5;
}
.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-menu li{
    list-style: none;
    margin-right: 20px;
}
.footer-menu li a{
    text-decoration: none;
}
.footer-bottom-menu li{
    list-style: none;
    margin-right: 20px;
}
.footer-bottom-menu li a{
    text-decoration: none;
}
.footer-top-link{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer-bottom-link{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;  
    padding-top: 25px; 
}

/* responsive layout */
/* mobile device */
@media screen and (max-width:576px) {
    nav,
    .online-games-card,
    .play-instantly
    {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    nav ul{
        flex-direction: column;
        margin-left: -50px;
    }
    nav ul li{
        margin-left: 0;
        margin-top: 20px;
    }
    .follow-us{
        margin-top: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-content{
        /* width: 100%; */
        padding-left: 30px;
        padding-right: 30px;
    }
    .banner-img{
        padding-right: 30px;
        padding-left: 30px;
    }
    .online-games-card .card{
        width: 100%;
    } 
    .section-title{
        font-size: 2rem;
    }
    .play-instantly-content{
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .play-instantly-img{
        width: 90%;
    }
    .play-top-img{
        width: 90%;
        margin-left: 35px;
    }
    .play-bottom-img {
        position: relative;
        width: 50%;
        margin-top: -130px;
        margin-left: -10px;
    }
    .more-games-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
        gap: 10px;
    }
    .more-games-title{
        color: #0B0223;
        font-size: 0.6rem;
        font-weight: 600;
    }
    .footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
    }
    .footer-bottom-menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
    .footer-top-link{
        font-size: .8rem;
    }
    .footer-bottom-link{
        font-size: .6rem;
    }
    .copyright{
        padding: 0 10px;
        font-size: .6rem;
    }
}